@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lobster&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Spline+Sans:wght@300..700&display=swap');
@import 'tailwindcss';

@theme {
  --breakpoint-xs: 20rem;  
  --breakpoint-ss: 23.4375rem; 
  --breakpoint-ms: 26.5625rem; 
  --breakpoint-2xl: 100rem;    
  --breakpoint-3xl: 120rem;   
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Mulish", sans-serif;
}

body{
  font-family: 'Nunito', sans-serif;
}